:root {
  --size: 35;
  --unit: calc((var(--size) / 242) * 1vmin);
  color: rgb(51, 51, 51);
  font-size: calc(12.5 * var(--unit));
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
}

body {
  background-image: url("/img/concrete.png");
  background-size: cover;
}

img {
  width: calc(29 * var(--unit));
  height: calc(29 * var(--unit));
  opacity: 0.8;
}

.big {
  font-size: calc(19 * var(--unit)) !important;
}

.backspace {
  width: calc(86 * var(--unit)) !important;
  height: calc(37 * var(--unit)) !important;
  top: 6% !important;
  left: 11% !important;
  border-radius: 8% !important;
}

.tab {
  width: calc(62 * var(--unit)) !important;
  height: calc(37 * var(--unit)) !important;
  top: 6% !important;
  left: 2% !important;
}

.tab_right {
  width: calc(60 * var(--unit)) !important;
  height: calc(38 * var(--unit)) !important;
  top: 6% !important;
  left: 15% !important;
}

.capslock {
  width: calc(74 * var(--unit)) !important;
  height: calc(37 * var(--unit)) !important;
  top: 6% !important;
  left: 2% !important;
  border-radius: 8% !important;
}

.enter {
  width: calc(100 * var(--unit)) !important;
  height: calc(39 * var(--unit)) !important;
  top: 5% !important;
  left: 10% !important;
  border-radius: 7%/10% !important;
}

.left__shift {
  width: calc(100 * var(--unit)) !important;
  height: calc(37 * var(--unit)) !important;
  top: 6% !important;
  left: 1.3% !important;
  border-radius: 7% !important;
}

.right__shift {
  width: calc(72 * var(--unit)) !important;
  height: calc(37 * var(--unit)) !important;
  top: 6% !important;
  left: 13% !important;
}

.ctrl {
  width: calc(52 * var(--unit)) !important;
  height: calc(37 * var(--unit)) !important;
  top: 6% !important;
  left: 2% !important;
}

.spacebar {
  width: calc(305 * var(--unit)) !important;
  height: calc(37 * var(--unit)) !important;
  top: 7% !important;
  left: 2% !important;
  border-radius: 3%/15% !important;
}

.keycaps__top::after {
  content: "";
  position: absolute;
  top: -6%;
  left: 0;
  width: inherit;
  height: inherit;
  background-image: linear-gradient(90deg, hsla(0deg, 0%, 26%, 0) 0%, hsla(0deg, 0%, 93%, 0.137) 50%, hsla(0deg, 0%, 0%, 0) 70%);
}

.backspace_border {
  border-radius: 7%/10% !important;
}

.tab_border {
  border-radius: 7%/10% !important;
}

.caps_border {
  border-radius: 7%/10% !important;
}

.enter_border {
  border-radius: 7% !important;
}

.shift_border {
  border-radius: 7% !important;
}

.spacebar_border {
  border-radius: 2%/10% !important;
}

.desk__mat {
  width: calc(1250 * var(--unit));
  height: calc(480 * var(--unit));
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: url("/img/desk_mat.png");
  background-size: cover;
  filter: brightness(90%) contrast(95%) saturate(95%);
  transform: translate(-50%, -50%);
  border-radius: 2%/5%;
  border: calc(5 * var(--unit)) solid rgb(29, 29, 29);
  box-shadow: calc(-10 * var(--unit)) calc(13 * var(--unit)) calc(15 * var(--unit)) calc(-5 * var(--unit)) rgb(0, 0, 0);
}

.shadow__frame,
.frame {
  width: calc(866 * var(--unit));
  height: calc(330 * var(--unit));
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadow__frame {
  box-shadow: calc(-34 * var(--unit)) calc(12 * var(--unit)) calc(24 * var(--unit)) calc(12 * var(--unit)) rgb(0, 0, 0);
}

.frame {
  padding: calc(15 * var(--unit));
  background-image: linear-gradient(240deg, hsl(0deg, 0%, 23%) 0%, hsl(0deg, 0%, 17%) 70%, hsl(0deg, 0%, 10%) 100%);
  filter: brightness(105%) contrast(95%) saturate(95%);
  border-radius: 1%/3%;
  border-left: calc(2 * var(--unit)) solid rgb(41, 41, 41);
  border-right: calc(1 * var(--unit)) solid rgba(73, 73, 73, 0.767);
  border-top: calc(2 * var(--unit)) solid rgb(66, 66, 66);
  border-bottom: calc(4 * var(--unit)) solid rgba(24, 24, 24, 0.527);
  box-shadow: inset 0 0 calc(7 * var(--unit)) calc(3 * var(--unit)) rgba(19, 19, 19, 0.521);
}
.frame .inner__frame {
  width: calc(863 * var(--unit));
  height: calc(329 * var(--unit));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(25, 25, 25);
  border: calc(1 * var(--unit)) solid rgb(0, 0, 0);
  border-radius: 1%/2%;
}
.frame .inner__frame .row__grid__1 {
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
}
.frame .inner__frame .row__grid__2 {
  grid-template-columns: repeat(13, 1fr) 2fr 1fr;
  grid-template-rows: 1fr;
}
.frame .inner__frame .row__grid__3 {
  grid-template-columns: 1.5fr repeat(12, 1fr) 1.5fr 1fr;
  grid-template-rows: 1fr;
}
.frame .inner__frame .row__grid__4 {
  grid-template-columns: 1.75fr repeat(11, 1fr) 2.25fr 1fr;
  grid-template-rows: 1fr;
}
.frame .inner__frame .row__grid__5 {
  grid-template-columns: 2.25fr repeat(10, 1fr) 1.75fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.frame .inner__frame .row__grid__6 {
  grid-template-columns: repeat(3, 1.25fr) 6fr repeat(6, 1fr);
  grid-template-rows: 1fr;
}
.frame .inner__frame .row__style {
  display: grid;
  gap: 0.1%;
  margin-inline: 0.2%;
  margin-block: 0.1%;
  position: relative;
  width: calc(859 * var(--unit));
  height: calc(53 * var(--unit));
  box-shadow: calc(-9 * var(--unit)) calc(7 * var(--unit)) calc(8 * var(--unit)) calc(2 * var(--unit)) rgba(0, 0, 0, 0.815);
}
.frame .inner__frame .row__style .keycaps__l__white {
  border-radius: 10%;
  background: #d1d1d1;
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid #838282;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) #888484;
}
.frame .inner__frame .row__style .keycaps__l__white .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, rgb(233, 233, 233) 0%, rgb(247, 247, 247) 60%, rgb(228, 228, 228) 100%);
  border: calc(2 * var(--unit)) solid #f3f3f3;
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) rgba(243, 241, 241, 0.8470588235);
  top: 5%;
  left: 2%;
}
.frame .inner__frame .row__style .keycaps__l__white .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__l__white .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: rgb(243, 243, 243) 47%;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
          clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
}
.frame .inner__frame .row__style .keycaps__l__white .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: rgb(243, 243, 243) 47%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
          clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
}
.frame .inner__frame .row__style .keycaps__m__white {
  border-radius: 10%;
  background: #d1d1d1;
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid #838282;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) #888484;
}
.frame .inner__frame .row__style .keycaps__m__white .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, rgb(233, 233, 233) 0%, rgb(247, 247, 247) 60%, rgb(228, 228, 228) 100%);
  border: calc(2 * var(--unit)) solid #f3f3f3;
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) rgba(243, 241, 241, 0.8470588235);
  top: 5%;
  left: 14%;
}
.frame .inner__frame .row__style .keycaps__m__white .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__m__white .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: rgb(243, 243, 243) 47%;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
          clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
}
.frame .inner__frame .row__style .keycaps__m__white .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: rgb(243, 243, 243) 47%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
          clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__r__white {
  border-radius: 10%;
  background: #d1d1d1;
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid #838282;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) #888484;
}
.frame .inner__frame .row__style .keycaps__r__white .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, rgb(233, 233, 233) 0%, rgb(247, 247, 247) 60%, rgb(228, 228, 228) 100%);
  border: calc(2 * var(--unit)) solid #f3f3f3;
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) rgba(243, 241, 241, 0.8470588235);
  top: 5%;
  left: 26%;
}
.frame .inner__frame .row__style .keycaps__r__white .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__r__white .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: rgb(243, 243, 243) 47%;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
          clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
}
.frame .inner__frame .row__style .keycaps__r__white .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: rgb(243, 243, 243) 47%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
          clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__l__yellow {
  border-radius: 10%;
  background: hsl(61deg, 78%, 55%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid #c0b239;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(61deg, 61%, 41%);
}
.frame .inner__frame .row__style .keycaps__l__yellow .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(58deg, 80%, 51%) 0%, hsl(61deg, 100%, 50%) 50%, hsl(58deg, 77%, 49%) 100%);
  border: calc(2 * var(--unit)) solid #fffd83;
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) #fff351;
  top: 5%;
  left: 2%;
}
.frame .inner__frame .row__style .keycaps__l__yellow .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__l__yellow .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: #fffeae;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
          clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
}
.frame .inner__frame .row__style .keycaps__l__yellow .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: #fffeae;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
          clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
}
.frame .inner__frame .row__style .keycaps__m__yellow {
  border-radius: 10%;
  background: hsl(61deg, 78%, 55%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid #c0b239;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(61deg, 61%, 41%);
}
.frame .inner__frame .row__style .keycaps__m__yellow .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(58deg, 80%, 51%) 0%, hsl(61deg, 100%, 50%) 50%, hsl(58deg, 77%, 49%) 100%);
  border: calc(2 * var(--unit)) solid #fffd83;
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) #fff351;
  top: 5%;
  left: 14%;
}
.frame .inner__frame .row__style .keycaps__m__yellow .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__m__yellow .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: #fffeae;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
          clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
}
.frame .inner__frame .row__style .keycaps__m__yellow .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: #fffeae;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
          clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__r__yellow {
  border-radius: 10%;
  background: hsl(61deg, 78%, 55%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid #c0b239;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(61deg, 61%, 41%);
}
.frame .inner__frame .row__style .keycaps__r__yellow .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(58deg, 80%, 51%) 0%, hsl(61deg, 100%, 50%) 50%, hsl(58deg, 77%, 49%) 100%);
  border: calc(2 * var(--unit)) solid #fffd83;
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) #fff351;
  top: 5%;
  left: 26%;
}
.frame .inner__frame .row__style .keycaps__r__yellow .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__r__yellow .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: #fffeae;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
          clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
}
.frame .inner__frame .row__style .keycaps__r__yellow .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: #fffeae;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
          clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__l__green {
  border-radius: 10%;
  background: hsl(160deg, 97%, 42%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(157deg, 79%, 39%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(157deg, 71%, 35%);
}
.frame .inner__frame .row__style .keycaps__l__green .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(160deg, 78%, 47%) 0%, hsl(160deg, 100%, 52%) 60%, hsl(160deg, 100%, 45%) 100%);
  border: calc(2 * var(--unit)) solid hsla(159deg, 92%, 62%, 0.808);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(159deg, 88%, 46%, 0.986);
  top: 5%;
  left: 2%;
}
.frame .inner__frame .row__style .keycaps__l__green .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__l__green .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(160deg, 76%, 60%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
          clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
}
.frame .inner__frame .row__style .keycaps__l__green .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(160deg, 76%, 60%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
          clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
}
.frame .inner__frame .row__style .keycaps__m__green {
  border-radius: 10%;
  background: hsl(160deg, 97%, 42%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(157deg, 79%, 39%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(157deg, 71%, 35%);
}
.frame .inner__frame .row__style .keycaps__m__green .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(160deg, 78%, 47%) 0%, hsl(160deg, 100%, 52%) 60%, hsl(160deg, 100%, 45%) 100%);
  border: calc(2 * var(--unit)) solid hsla(159deg, 92%, 62%, 0.808);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(159deg, 88%, 46%, 0.986);
  top: 5%;
  left: 14%;
}
.frame .inner__frame .row__style .keycaps__m__green .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__m__green .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(160deg, 76%, 60%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
          clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
}
.frame .inner__frame .row__style .keycaps__m__green .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(160deg, 76%, 60%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
          clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__r__green {
  border-radius: 10%;
  background: hsl(160deg, 97%, 42%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(157deg, 79%, 39%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(157deg, 71%, 35%);
}
.frame .inner__frame .row__style .keycaps__r__green .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(160deg, 78%, 47%) 0%, hsl(160deg, 100%, 52%) 60%, hsl(160deg, 100%, 45%) 100%);
  border: calc(2 * var(--unit)) solid hsla(159deg, 92%, 62%, 0.808);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(159deg, 88%, 46%, 0.986);
  top: 5%;
  left: 26%;
}
.frame .inner__frame .row__style .keycaps__r__green .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__r__green .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(160deg, 76%, 60%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
          clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
}
.frame .inner__frame .row__style .keycaps__r__green .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(160deg, 76%, 60%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
          clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__l__red {
  border-radius: 10%;
  background: hsl(0deg, 76%, 50%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(7deg, 79%, 39%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(7deg, 75%, 35%);
}
.frame .inner__frame .row__style .keycaps__l__red .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(11deg, 84%, 45%) 0%, hsl(0deg, 100%, 65%) 60%, hsl(11deg, 78%, 52%) 100%);
  border: calc(2 * var(--unit)) solid hsl(0deg, 87%, 63%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(0deg, 67%, 51%, 0.521);
  top: 5%;
  left: 2%;
}
.frame .inner__frame .row__style .keycaps__l__red .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__l__red .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(0deg, 81%, 60%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
          clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
}
.frame .inner__frame .row__style .keycaps__l__red .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(0deg, 81%, 60%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
          clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
}
.frame .inner__frame .row__style .keycaps__m__red {
  border-radius: 10%;
  background: hsl(0deg, 76%, 50%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(7deg, 79%, 39%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(7deg, 75%, 35%);
}
.frame .inner__frame .row__style .keycaps__m__red .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(11deg, 84%, 45%) 0%, hsl(0deg, 100%, 65%) 60%, hsl(11deg, 78%, 52%) 100%);
  border: calc(2 * var(--unit)) solid hsl(0deg, 87%, 63%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(0deg, 67%, 51%, 0.521);
  top: 5%;
  left: 14%;
}
.frame .inner__frame .row__style .keycaps__m__red .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__m__red .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(0deg, 81%, 60%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
          clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
}
.frame .inner__frame .row__style .keycaps__m__red .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(0deg, 81%, 60%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
          clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__r__red {
  border-radius: 10%;
  background: hsl(0deg, 76%, 50%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(7deg, 79%, 39%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(7deg, 75%, 35%);
}
.frame .inner__frame .row__style .keycaps__r__red .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(11deg, 84%, 45%) 0%, hsl(0deg, 100%, 65%) 60%, hsl(11deg, 78%, 52%) 100%);
  border: calc(2 * var(--unit)) solid hsl(0deg, 87%, 63%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(0deg, 67%, 51%, 0.521);
  top: 5%;
  left: 26%;
}
.frame .inner__frame .row__style .keycaps__r__red .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__r__red .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(0deg, 81%, 60%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
          clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
}
.frame .inner__frame .row__style .keycaps__r__red .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(0deg, 81%, 60%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
          clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__l__tomato {
  border-radius: 10%;
  background: hsl(9deg, 82%, 58%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(7deg, 79%, 56%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(7deg, 56%, 46%);
}
.frame .inner__frame .row__style .keycaps__l__tomato .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(9deg, 100%, 62%) 0%, hsl(9deg, 91%, 68%) 60%, hsl(9deg, 100%, 62%) 100%);
  border: calc(2 * var(--unit)) solid hsl(9deg, 94%, 69%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsl(9deg, 100%, 65%);
  top: 5%;
  left: 2%;
}
.frame .inner__frame .row__style .keycaps__l__tomato .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__l__tomato .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(9deg, 100%, 72%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
          clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
}
.frame .inner__frame .row__style .keycaps__l__tomato .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(9deg, 100%, 72%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
          clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
}
.frame .inner__frame .row__style .keycaps__m__tomato {
  border-radius: 10%;
  background: hsl(9deg, 82%, 58%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(7deg, 79%, 56%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(7deg, 56%, 46%);
}
.frame .inner__frame .row__style .keycaps__m__tomato .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(9deg, 100%, 62%) 0%, hsl(9deg, 91%, 68%) 60%, hsl(9deg, 100%, 62%) 100%);
  border: calc(2 * var(--unit)) solid hsl(9deg, 94%, 69%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsl(9deg, 100%, 65%);
  top: 5%;
  left: 14%;
}
.frame .inner__frame .row__style .keycaps__m__tomato .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__m__tomato .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(9deg, 100%, 72%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
          clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
}
.frame .inner__frame .row__style .keycaps__m__tomato .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(9deg, 100%, 72%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
          clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__r__tomato {
  border-radius: 10%;
  background: hsl(9deg, 82%, 58%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(7deg, 79%, 56%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(7deg, 56%, 46%);
}
.frame .inner__frame .row__style .keycaps__r__tomato .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(9deg, 100%, 62%) 0%, hsl(9deg, 91%, 68%) 60%, hsl(9deg, 100%, 62%) 100%);
  border: calc(2 * var(--unit)) solid hsl(9deg, 94%, 69%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsl(9deg, 100%, 65%);
  top: 5%;
  left: 26%;
}
.frame .inner__frame .row__style .keycaps__r__tomato .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__r__tomato .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(9deg, 100%, 72%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
          clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
}
.frame .inner__frame .row__style .keycaps__r__tomato .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(9deg, 100%, 72%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
          clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__l__blue {
  border-radius: 10%;
  background: hsl(202deg, 77%, 51%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(199deg, 79%, 39%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(199deg, 58%, 37%);
}
.frame .inner__frame .row__style .keycaps__l__blue .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(202deg, 77%, 53%) 0%, hsl(194deg, 100%, 50%) 60%, hsl(202deg, 87%, 57%) 100%);
  border: calc(2 * var(--unit)) solid hsl(202deg, 97%, 62%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(202deg, 96%, 56%, 0.904);
  top: 5%;
  left: 2%;
}
.frame .inner__frame .row__style .keycaps__l__blue .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__l__blue .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(202deg, 81%, 59%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
          clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
}
.frame .inner__frame .row__style .keycaps__l__blue .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(202deg, 81%, 59%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
          clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
}
.frame .inner__frame .row__style .keycaps__m__blue {
  border-radius: 10%;
  background: hsl(202deg, 77%, 51%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(199deg, 79%, 39%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(199deg, 58%, 37%);
}
.frame .inner__frame .row__style .keycaps__m__blue .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(202deg, 77%, 53%) 0%, hsl(194deg, 100%, 50%) 60%, hsl(202deg, 87%, 57%) 100%);
  border: calc(2 * var(--unit)) solid hsl(202deg, 97%, 62%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(202deg, 96%, 56%, 0.904);
  top: 5%;
  left: 14%;
}
.frame .inner__frame .row__style .keycaps__m__blue .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__m__blue .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(202deg, 81%, 59%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
          clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
}
.frame .inner__frame .row__style .keycaps__m__blue .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(202deg, 81%, 59%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
          clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__r__blue {
  border-radius: 10%;
  background: hsl(202deg, 77%, 51%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(199deg, 79%, 39%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(199deg, 58%, 37%);
}
.frame .inner__frame .row__style .keycaps__r__blue .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(202deg, 77%, 53%) 0%, hsl(194deg, 100%, 50%) 60%, hsl(202deg, 87%, 57%) 100%);
  border: calc(2 * var(--unit)) solid hsl(202deg, 97%, 62%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(202deg, 96%, 56%, 0.904);
  top: 5%;
  left: 26%;
}
.frame .inner__frame .row__style .keycaps__r__blue .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__r__blue .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(202deg, 81%, 59%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
          clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
}
.frame .inner__frame .row__style .keycaps__r__blue .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(202deg, 81%, 59%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
          clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__l__violet {
  border-radius: 10%;
  background: hsl(256deg, 75%, 70%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(252deg, 36%, 48%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(252deg, 37%, 49%);
}
.frame .inner__frame .row__style .keycaps__l__violet .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(256deg, 68%, 70%) 20%, hsl(257deg, 94%, 79%) 60%, hsl(256deg, 95%, 75%) 100%);
  border: calc(2 * var(--unit)) solid hsl(256deg, 80%, 76%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(256deg, 69%, 69%, 0.589);
  top: 5%;
  left: 2%;
}
.frame .inner__frame .row__style .keycaps__l__violet .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__l__violet .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(256deg, 73%, 71%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
          clip-path: polygon(45% 55%, 100% 89%, 100% 100%, 85% 100%);
}
.frame .inner__frame .row__style .keycaps__l__violet .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(256deg, 73%, 71%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
          clip-path: polygon(0 80%, 27% 0, 12% 100%, 0% 100%);
}
.frame .inner__frame .row__style .keycaps__m__violet {
  border-radius: 10%;
  background: hsl(256deg, 75%, 70%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(252deg, 36%, 48%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(252deg, 37%, 49%);
}
.frame .inner__frame .row__style .keycaps__m__violet .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(256deg, 68%, 70%) 20%, hsl(257deg, 94%, 79%) 60%, hsl(256deg, 95%, 75%) 100%);
  border: calc(2 * var(--unit)) solid hsl(256deg, 80%, 76%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(256deg, 69%, 69%, 0.589);
  top: 5%;
  left: 14%;
}
.frame .inner__frame .row__style .keycaps__m__violet .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__m__violet .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(256deg, 73%, 71%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
          clip-path: polygon(50% 49%, 100% 84%, 100% 100%, 89% 100%);
}
.frame .inner__frame .row__style .keycaps__m__violet .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(256deg, 73%, 71%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
          clip-path: polygon(69% 17%, 16% 100%, 0 100%, 0 91%);
}
.frame .inner__frame .row__style .keycaps__r__violet {
  border-radius: 10%;
  background: hsl(256deg, 75%, 70%);
  position: relative;
  overflow: hidden;
  border: calc(1 * var(--unit)) solid hsl(252deg, 36%, 48%);
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) hsl(252deg, 37%, 49%);
}
.frame .inner__frame .row__style .keycaps__r__violet .keycaps__top {
  width: calc(32 * var(--unit));
  height: calc(37 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: linear-gradient(90deg, hsl(256deg, 68%, 70%) 20%, hsl(257deg, 94%, 79%) 60%, hsl(256deg, 95%, 75%) 100%);
  border: calc(2 * var(--unit)) solid hsl(256deg, 80%, 76%);
  border-radius: 11.5%;
  box-shadow: inset 0 0 calc(2 * var(--unit)) calc(1 * var(--unit)) hsla(256deg, 69%, 69%, 0.589);
  top: 5%;
  left: 26%;
}
.frame .inner__frame .row__style .keycaps__r__violet .keycaps__top span {
  position: relative;
  align-self: center;
}
.frame .inner__frame .row__style .keycaps__r__violet .reflection__right {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(256deg, 73%, 71%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
          clip-path: polygon(85% 100%, 77% 0, 100% 97%, 100% 100%);
}
.frame .inner__frame .row__style .keycaps__r__violet .reflection__left {
  width: calc(21 * var(--unit));
  height: calc(20 * var(--unit));
  background: hsl(256deg, 73%, 71%);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 calc(6 * var(--unit)) calc(2.5 * var(--unit)) rgba(134, 134, 134, 0.37);
  -webkit-clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
          clip-path: polygon(100% 37%, 15% 100%, 0 100%, 0 91%);
}

.clicked {
  transform: translateY(1px) scale(0.97);
}

.clicked-bigbtn {
  transform: translateY(1px) scale(0.99);
}

@media (max-width: 1045px) {
  :root {
    --size: 30;
  }
}
@media (max-width: 885px) {
  :root {
    --size: 23;
  }
}
@media (max-width: 700px) {
  :root {
    --size: 20;
  }
}/*# sourceMappingURL=main.css.map */